<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap">
        <h1>
            Reset de contraseña
        </h1>
        <hr>     

        <loader *ngIf="loader"></loader>

        <div *ngIf="formShow">
            <p>
                Ingresa tu nueva contraseña en el siguiente formulario.
            </p>
            <!-- <form [formGroup]="form" (ngSubmit)="login()"> -->
            <form [formGroup]="form">

                <label>Nueva Contraseña:</label>
                <p>
                    <input type="password"
                           formControlName="new_password">
                <span *ngIf="form.controls['new_password'].errors?.required && form.controls['new_password'].touched">El nombre de usuario es obligatorio.</span>
                <span *ngIf="form.controls['new_password'].errors?.minlength">Por lo menos 4 caracteres.</span>
                </p>

                <label>Confirmar Contraseña:</label>
                <p>
                    <input type="password"
                           formControlName="new_password_again">
                <span *ngIf="form.controls['new_password_again'].errors?.required && form.controls['new_password_again'].touched">El nombre de usuario es obligatorio.</span>
                <span *ngIf="form.controls['new_password_again'].errors?.minlength">Por lo menos 4 caracteres.</span>
                <span *ngIf="form.value.new_password != form.value.new_password_again">* Los password no coinciden.</span>
                </p>
    
                <input  (click)="send()"
                        type="submit"
                        value="{{ formInputValue }}"
                        [disabled]="!form.valid ||form.value.new_password != form.value.new_password_again"/>
                
                <p><span *ngIf="message"> {{ messageText }} </span></p>
            
            </form>
        </div>

        <div *ngIf="!formShow">
           <p>
            El token que estas tratando de usar expiro o no existe.
           </p> 
        </div>
       
    </div>
</div>
