<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap">
        <h1>
            Restablecer Contraseña
        </h1>
        <hr>

        <p>
            Para restablecer tu contraseña por favor introduce tu nombre de usuario en el siguiente formulario.
        </p>

        <div class="">
            <!-- <form [formGroup]="form" (ngSubmit)="login()"> -->
            <form [formGroup]="form">

                <label>Usuario:</label>
                <p>
                    <input type="text"
                           formControlName="login">
                
                <span *ngIf="form.controls['login'].errors?.required && form.controls['login'].touched">El nombre de usuario es obligatorio.</span>
                <span *ngIf="form.controls['login'].errors?.minlength">Por lo menos 4 caracteres.</span>
                </p>

                <p>
                    <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        [useGlobalDomain]="false"
                        formControlName="recaptcha">
                    </ngx-recaptcha2>
                </p>
        
                <input  (click)="send()"
                        type="submit"
                        value="{{ formInputValue }}"
                        [disabled]="!form.valid"/>
                
                <p><span *ngIf="message"> {{ messageText }} </span></p>
            
            </form>
        </div>

    </div>
</div>
