#button {
    padding: 0;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

#button li {
    display: inline;
}

#button li a {
    padding: 10px;
    background-color: #5c5757;
    border-radius: 5px;
    color: #fff;
    margin-left: 2px;
    margin-bottom: 10px;
}

.active {
    color: black;
}
