<header>
    <nav class="">
      <!--Inicio navegacion principal -->
      <ul>
        <li class="menu1">
          <a [routerLink]="['/home']" style="font-size: 10px;"><span class="chinese">INICIO</span><br>HOME</a>
        </li>
        <li class="menu2">
          <a [routerLink]="['/auth/join']" style="font-size: 10px;"><span class="chinese">REGISTRO</span><br>REGISTER</a>
        </li>
        <li class="menu3">
          <a [routerLink]="['/downloads']" style="font-size: 10px;"><span class="chinese">DESCARGAR</span><br>DOWNLOAD</a>
        </li>
        <li class="menu4">
          <a [routerLink]="['/players']" style="font-size: 10px;"><span class="chinese">RANKING</span><br>PLAYER RANKING</a>
        </li>
        <li *ngIf="!auth.isAuthenticated()" class="menu8">          
          <a [routerLink]="['/auth/login']" style="font-size: 10px;"><span class="chinese">Ingresar </span><br>login</a>
        </li>
        <li *ngIf="auth.isAuthenticated()" class="menu8">           
          <a [routerLink]="['/user/main']" style="font-size: 10px;"><span class="chinese">Panel Usuario </span><br>User Panel</a>
        </li>
      </ul>
      <!-- subnavigation -->
    </nav>

    <div id="logo">
      <img class="logo" src='{{image.image_url}}' alt="Logo" style="">
    </div>

    <div id="logo_placeholder">
    </div>
    
</header>