

<pages slug="home"></pages>

<div class="postui post-con margen-top animated fadeIn fast">
    <div class="con-wrap">
        <h1> Facebook </h1>
        <hr>
        <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMetin2Lamda%2F&tabs=timeline&width=590&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=661017491492084" width="590" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> -->
    </div>
</div>