<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap">
        <h1>
            Reset de contraseña
        </h1>
        <hr>

        <p>
            Ingresa tu cuenta y se te enviar un correo con un link, sigue las instrucciones del correo.
        </p>

        <div class="">
            <!-- <form [formGroup]="form" (ngSubmit)="login()"> -->
            <form [formGroup]="form">

                <label>Cuenta:</label>
                <p>
                    <input type="text"
                           formControlName="login">
                <span *ngIf="form.controls['login'].errors?.required && form.controls['login'].touched">El nombre de usuario es obligatorio.</span>
                <span *ngIf="form.controls['login'].errors?.minlength">Por lo menos 4 caracteres.</span>
                </p>
    
                <input  (click)="send()"
                        type="submit"
                        value="{{ formInputValue }}"
                        [disabled]="!form.valid"/>
                
                <span *ngIf="mensaje"> Nombre de usuario o contraseña incorrecto </span>
            
            </form>
        </div>

    </div>
</div>
