<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap">
    </div>
  
      <div class="con-wrap">
        <h1>Pagina de Descargas</h1>
        <hr>
        <table *ngIf="!loading; else elseblock">
              <tr>
                  <td>Opciones </td>
                  <td>Peso (MB)</td>
                  <td>Fecha</td>
                  <td>Link</td>
              </tr>
              <tr *ngFor="let download of downloads">
                  <td>{{ download.provider }}</td>
                  <td>{{ download.weight }} MB</td>
                  <td>{{ download.created_at | date:'medium' }} </td>
                  <td><a href="{{ download.link }}" target="blank">Link </a></td>
              </tr>
          </table>
          <ng-template #elseblock>
            <loader></loader>
          </ng-template>
          <br><br>
      </div>
    </div>