<div class="sbui sb-con-nao">

    <h5>Informaci&oacute;n</h5>
    <hr>
    <!-- Servers -->
    <div *ngIf="!cargando; else elseblock" class="srvstatus">
        <p class="srv-on">Servidor online </p>
        <!-- <p class="srv-on"></p>
        <p class="srv-on"></p> -->
        <div *ngIf="last_online" class="sep2"></div>
        <p *ngIf="last_online" class="srv-mode">{{ estadisticas.online }} Jugadores online.</p> 
        <div class="sep2"></div>
        <p class="srv-mode">{{ estadisticas.lastonline }} Jugadores ult. 24h</p>
        <div class="sep2"></div>
        <p class="srv-mode">Registros: {{ estadisticas.accounts }} </p>
        <div class="sep2"></div>
        <p class="srv-mode">Personajes: {{ estadisticas.players }} </p>
        <div class="sep2"></div>
        <p class="srv-mode"> Nivel Inicial: {{ initial_level }} </p>
        <div class="sep2"></div>
        <p class="srv-mode"> Nivel Maximo: {{ max_level }} </p>
        <div class="sep2"></div>
        <p class="srv-mode"> {{ rates }} </p>
        <div class="sep2"></div>
    </div>
</div>

<ng-template #elseblock>
    <loader></loader>
</ng-template>
